<% simple_form_for(@job, html: { class: 'input_fields'}) do |f| %>
	<%= f.collection_select :category_id, Category.all, :id, :name, {prompt: 'Choose a category'} %>
	<%= f.input :title %>
	<%= f.input :from_company %>
	<%= f.input :website %>
	<%= f.input :hq %>
	<%= f.input :description %>
	<%= f.input :banner %>
	<%= f.input :url %>

	<%=f.button :submit %>
<% end %>