<div class="jobs inner_page">
	<div class="left wall">
		<ul class="jobs_wrapper">
			<% @jobs.each do |job| %>
			<li class="job">
				<!--<span class="new">new</span>-->
				<div class="position_holder">
					<!--<span class="company_logo">
						<img src="/images/job_logo.png" alt="Job Logo" />
					</span>-->
					<span class="title">
						<span class="position"><%= link_to job.title, job %></span>
						<span class="company_name">at <%= job.from_company %></span>
					</span>
					<time><%= l job.created_at, :format => :short %></time>
				</div>
			</li>
			<% end %>
		</ul>
	</div>
	<div class="sidebar">
		<div class="search_panel">
			<span class="icon">
				<svg version="1.1" class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 175.8 188.8" enable-background="new 0 0 175.8 188.8" xml:space="preserve">
	          <path d="M43.8,183.1c-11.7,0-22.7-4.6-31-12.8C4.6,162,0,151,0,139.3c0-11.7,4.6-22.7,12.8-31c7.5-7.5,17.4-12,27.9-12.7
	            c2.3-0.2,4.4-1.1,5.9-2.6c1-1,1.7-2.1,2.1-3.3c1.7-4.9,4.5-9.4,8.3-13.1c6.6-6.6,15.4-10.3,24.8-10.3c5.1,0,10.1,1.1,14.7,3.2
	            l36.7-32.7c-0.7-2.4-0.2-5,1.7-6.9l17.3-17.3c2.6-2.6,7.1-2.6,9.8,0l8.6,8.6c1.3,1.3,2,3,2,4.9c0,1.8-0.7,3.6-2,4.9l-17.3,17.3
	            c-1.8,1.8-4.5,2.4-6.9,1.7l-32.7,36.7c6.1,13.2,3.3,29.1-7,39.5c-3.8,3.8-8.2,6.5-13.2,8.3c-1.3,0.4-2.4,1.1-3.3,2.1
	            c-1.9,1.9-2.5,4.3-2.6,5.9c-0.7,10.5-5.3,20.4-12.7,27.9C66.6,178.6,55.6,183.1,43.8,183.1L43.8,183.1z M147.8,43.9
	            c0.2,0.2,0.5,0.2,0.6,0.2c0.1,0,0.4,0,0.6-0.3l17.3-17.3c0.2-0.2,0.3-0.5,0.3-0.6c0-0.2,0-0.4-0.3-0.6l-8.6-8.6
	            c-0.4-0.4-0.8-0.4-1.2,0l-17.3,17.3c-0.3,0.3-0.3,0.9,0,1.2C139.4,35.5,147.6,43.7,147.8,43.9L147.8,43.9z M101.4,73.2l8.5,8.5
	            l31.6-35.4l-4.7-4.7L101.4,73.2L101.4,73.2z M107.6,87.9L95.2,75.5c-4.1-2.1-8.7-3.3-13.4-3.3c-7.8,0-15,3-20.5,8.5
	            c-3.1,3.1-5.4,6.8-6.9,10.9c-0.7,2.1-1.9,4-3.5,5.6c-2.5,2.6-6,4.1-9.8,4.3c-9.1,0.6-17.6,4.6-24.1,11C10,119.7,6,129.2,6,139.3
	            c0,10.1,3.9,19.6,11.1,26.7c7.1,7.1,16.6,11.1,26.7,11.1c10.1,0,19.6-3.9,26.7-11.1c6.4-6.4,10.3-15,11-24.1
	            c0.3-3.8,1.8-7.2,4.4-9.8c1.6-1.6,3.5-2.8,5.6-3.5c4.1-1.5,7.8-3.8,10.9-6.9C111.3,112.9,113.4,99,107.6,87.9L107.6,87.9z
	             M36.4,164.6c-0.8,0-1.5-0.3-2.1-0.9l-14.9-14.9c-1.2-1.2-1.2-3.1,0-4.3c1.2-1.2,3.1-1.2,4.3,0l14.9,14.9c1.2,1.2,1.2,3.1,0,4.3
	            C37.9,164.3,37.2,164.6,36.4,164.6L36.4,164.6z M90.2,113c-0.8,0-1.5-0.3-2.1-0.9l-17-17c-1.2-1.2-1.2-3.1,0-4.3
	            c1.2-1.2,3.1-1.2,4.3,0l17,17c1.2,1.2,1.2,3.1,0,4.3C91.7,112.7,90.9,113,90.2,113L90.2,113z M98.4,104.7c-0.8,0-1.5-0.3-2.1-0.9
	            l-17-17c-1.2-1.2-1.2-3.1,0-4.3c1.2-1.2,3.1-1.2,4.3,0l17,17c1.2,1.2,1.2,3.1,0,4.3C100,104.4,99.2,104.7,98.4,104.7L98.4,104.7z
	             M61.4,137.7c-4.3,0-8.3-1.7-11.3-4.7c-6.2-6.2-6.2-16.3,0-22.6c3-3,7-4.7,11.3-4.7s8.3,1.7,11.3,4.7c3,3,4.7,7,4.7,11.3
	            c0,4.3-1.7,8.3-4.7,11.3C69.7,136,65.6,137.7,61.4,137.7L61.4,137.7z M61.4,111.8c-2.7,0-5.2,1-7,2.9c-3.9,3.9-3.9,10.2,0,14
	            c1.9,1.9,4.4,2.9,7,2.9c2.7,0,5.1-1,7-2.9c1.9-1.9,2.9-4.4,2.9-7c0-2.7-1-5.1-2.9-7C66.5,112.8,64,111.8,61.4,111.8L61.4,111.8z
	             M165.2,52.2c-1.8,1.7-4.6,1.7-6.3,0c-1.8-1.8-1.7-4.6,0-6.3c1.7-1.7,4.6-1.7,6.3,0C167,47.7,167,50.5,165.2,52.2L165.2,52.2z
	             M174.5,42.9c-1.8,1.7-4.6,1.7-6.3,0c-1.7-1.7-1.7-4.6,0-6.3c1.7-1.8,4.6-1.8,6.3,0C176.3,38.4,176.3,41.2,174.5,42.9L174.5,42.9z
	             M136.8,23.8c-1.8,1.7-4.6,1.7-6.3,0c-1.8-1.8-1.7-4.6,0-6.3c1.7-1.7,4.6-1.7,6.3,0C138.5,19.2,138.5,22.1,136.8,23.8L136.8,23.8z
	             M146.1,14.5c-1.8,1.7-4.6,1.7-6.3,0c-1.7-1.7-1.7-4.6,0-6.3c1.7-1.8,4.6-1.8,6.3,0C147.8,9.9,147.8,12.8,146.1,14.5L146.1,14.5z"/>
	          </svg>
			</span>
			<span class="count"><%= @jobs.size %></span>
			<h3>new jobs</h3>
			<input type="search" placeholder="Search e.g. Developer" id="searchjobs" class="search_field" />
			<a href="" class="button orange big">Post a Job</a>
		</div>
	</div>
</div>