<% if company_signed_in? %>
	<h1>New Job</h1>
	<%= render 'form' %>
	<%= link_to "Back", root_path%>
<% elsif person_signed_in? %>
	<p>Please <%= link_to "Sign up", new_company_registration %> as a Company to post a job.</p>
<% end %>