<h1><%= content_for(:title, 'Company') %></h1>
<% if company_signed_in? %>
	<!-- My Jobs -->
	<% @company_jobs.each do |job|  %>
		<div class="job">
			<h2><%= link_to job.title, job %></h2>
			<p><%= job.description %></p>
			<div class="actions">
			<%= link_to "Edit", job %>
			</div>
		</div>
	<% end %>
<% else %>
	<%= link_to "Sign in", new_company_session_path %>
<% end %>
