<div class="people inner_page profiles">
  <div class="left search_wall">
    <ul class="profile_wrapper">
      <li class="profile current">
        <div class="info_top" style="background-image: url(<%= @person.avatar.url %>)">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>
          
          <%= f.input :avatar %>
          <header>
            <hgroup>
              <%= f.input :name, required: true, autofocus: true %>
              <h3>Sales Development</h3>
            </hgroup>
          </header>
        </div>
        <div class="info_bottom">
          <%= f.input :bio, :as => :text, required: false %>

          <p><%= f.input :email, required: true %></p>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <h3>Causes Matsana cares about</h3>
          <p>Civil Rights and Social Action, Education, Human Rights</p>

          <h3>Skills</h3>
          <p><%= f.text_field :tag_list, required: false %></p>

          <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
          <%= f.input :password_confirmation, required: false %>
          <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>

          

          <div class="get_intouch">
            <%= f.button :submit, "Update", class: 'mailto button orange big' %>

            <% end %>
            <!-- Share -->
             <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>

             <%= link_to "Back", :back %>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="sidebar">
    <div class="search_panel">
      <span class="icon">
        <svg version="1.1" class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 175.8 188.8" enable-background="new 0 0 175.8 188.8" xml:space="preserve">
              <path d="M72.9,167.3c-1.9,0-3.8-0.2-5.6-0.6c-5.1-1.1-9.6-3.7-13.1-7.4c-5.1-0.1-10.1-1.7-14.3-4.7c-4.3-3-7.5-7.1-9.3-11.8
              c-4.6-2-8.6-5.4-11.4-9.8c-2.8-4.4-4.2-9.4-4.1-14.5c-3.5-3.7-5.9-8.3-6.8-13.4C7.4,100,8,94.8,10.1,90.2c-1.8-4.7-2.3-9.9-1.1-15
              c1.1-5.1,3.7-9.6,7.4-13.1C16.4,57,18,52,21,47.8c2.2-3.2,5.1-5.8,8.4-7.7c2-5.1,5.5-9.5,10.3-12.5c6.6-4.2,14.9-5.2,22.2-2.7
              c1.2,0.4,2,1.6,1.9,2.9c-0.9,7.8-5.2,14.8-11.9,19c-2.4,1.6-5.1,2.7-7.9,3.4c-0.6,3.8-2.1,7.4-4.4,10.7c-2.3,3.2-5.2,5.9-8.5,7.7
              c0.9,3.7,0.9,7.7,0,11.5c-0.9,3.9-2.5,7.4-4.9,10.4c2.2,3.1,3.8,6.7,4.5,10.6c0.7,3.9,0.5,7.8-0.6,11.5c3.3,2,6.1,4.8,8.2,8.1
              c2.1,3.3,3.4,7,3.9,10.9c3.8,0.6,7.4,2.1,10.7,4.4c3.2,2.3,5.9,5.2,7.8,8.6c3.8-0.9,7.7-0.9,11.5-0.1c6.1,1.4,11.5,4.8,15.2,9.8
              c3.7-4.9,9-8.4,15.2-9.8c3.8-0.8,7.7-0.8,11.5,0.1c1.9-3.4,4.5-6.3,7.8-8.6c3.2-2.3,6.9-3.7,10.7-4.4c0.5-3.8,1.8-7.5,3.9-10.9
              c2.1-3.3,4.9-6.1,8.2-8.1c-1-3.7-1.2-7.6-0.6-11.5c0.7-3.9,2.2-7.5,4.5-10.6c-2.4-3-4.1-6.6-4.9-10.4c-0.9-3.9-0.8-7.8,0.1-11.5
              c-3.3-1.9-6.3-4.5-8.5-7.7c-2.3-3.2-3.7-6.9-4.4-10.7c-2.8-0.7-5.5-1.8-7.9-3.4c-6.6-4.2-11-11.1-11.9-19c-0.1-1.3,0.6-2.5,1.9-2.9
              c7.4-2.5,15.7-1.5,22.2,2.7c4.7,3,8.3,7.4,10.3,12.5c3.3,1.9,6.2,4.5,8.4,7.7c3,4.3,4.6,9.2,4.7,14.3c3.7,3.5,6.2,8,7.4,13.1
              c1.1,5.1,0.7,10.3-1.1,15c2,4.6,2.7,9.8,1.8,14.9c-0.9,5.1-3.3,9.8-6.8,13.4c0.1,5.1-1.3,10.1-4.1,14.5c-2.8,4.4-6.8,7.8-11.4,9.8
              c-1.8,4.7-5,8.8-9.3,11.8c-4.2,3-9.1,4.6-14.3,4.7c-3.5,3.7-8,6.2-13.1,7.4c-1.9,0.4-3.8,0.6-5.6,0.6c-5.1,0-10.2-1.6-14.4-4.4
              C83.1,165.7,78,167.3,72.9,167.3L72.9,167.3z M116.8,29.5c1.2,5.2,4.4,9.7,8.9,12.6c1.5,0.9,3,1.7,4.6,2.2c0.1-1.9,0.4-3.7,1-5.6
              c0.4-1.3,1.6-2.1,2.9-2c1.1,0.1,2.1,0.2,3.2,0.4c-1.5-1.9-3.2-3.6-5.3-4.9C127.5,29.4,122,28.4,116.8,29.5L116.8,29.5z M136.1,42.6
              c-0.9,5.3,0.3,10.7,3.4,15.1c1.6,2.3,3.6,4.2,5.9,5.6c0.8-1.7,1.9-3.4,3.1-5c0.8-1,2.2-1.3,3.4-0.8l0.3,0.1
              c-0.6-2.4-1.6-4.7-3.1-6.7C146,46.5,141.4,43.5,136.1,42.6L136.1,42.6z M151.5,63.6c-2.8,4.5-3.8,10-2.6,15.3
              c0.6,2.7,1.7,5.2,3.3,7.4c1.4-1.3,3-2.4,4.8-3.4c1.1-0.6,2.6-0.4,3.6,0.8c0.4-2.4,0.3-4.9-0.3-7.4C159.2,71.1,156,66.6,151.5,63.6
              L151.5,63.6z M157.7,89c-4.4,3.1-7.3,7.8-8.3,13.1c-0.5,2.7-0.4,5.5,0.2,8.1c1.8-0.6,3.7-1.1,5.7-1.3c1.3-0.2,2.5,0.6,2.9,1.9
              l0.1,0.3c1.3-2.1,2.1-4.5,2.6-6.9C161.9,98.8,160.7,93.4,157.7,89L157.7,89z M153.6,114.8c-5.2,1.2-9.7,4.4-12.6,8.9
              c-1.5,2.3-2.5,4.9-2.9,7.6c2,0.1,3.9,0.4,5.8,1c1.3,0.4,2.1,1.5,2,2.9l0,0.3c2-1.5,3.7-3.3,5-5.4C153.8,125.5,154.7,120,153.6,114.8
              L153.6,114.8z M119.3,146.4c1.8,0.8,3.4,1.9,5,3.1c1,0.8,1.3,2.2,0.8,3.4l-0.1,0.3c2.4-0.6,4.7-1.6,6.7-3.1c4.4-3.1,7.4-7.8,8.4-13
              c-5.3-0.9-10.7,0.3-15.1,3.4C122.7,142.1,120.8,144.1,119.3,146.4L119.3,146.4z M34.6,137.1c1,5.3,3.9,9.9,8.4,13
              c2,1.4,4.3,2.5,6.7,3.1l-0.1-0.3c-0.6-1.2-0.3-2.6,0.8-3.4c1.5-1.2,3.2-2.3,5-3.1c-1.4-2.3-3.3-4.3-5.6-5.9
              C45.4,137.4,39.9,136.2,34.6,137.1L34.6,137.1z M21.1,114.8c-1.1,5.2-0.1,10.7,2.8,15.2c1.4,2.1,3.1,4,5,5.4l0-0.3
              c-0.1-1.3,0.7-2.5,2-2.9c1.9-0.5,3.8-0.9,5.8-1c-0.4-2.7-1.4-5.2-2.9-7.6C30.8,119.2,26.3,116,21.1,114.8L21.1,114.8z M17,89
              c-3,4.4-4.2,9.8-3.3,15.1c0.4,2.5,1.3,4.8,2.6,6.9l0.1-0.3c0.4-1.2,1.6-2,2.9-1.9c2,0.2,3.9,0.7,5.7,1.3c0.6-2.6,0.7-5.4,0.2-8.1
              C24.3,96.8,21.4,92.1,17,89L17,89z M23.2,63.6c-4.5,2.9-7.6,7.4-8.8,12.7c-0.5,2.5-0.6,5-0.3,7.4c1.1-1.2,2.5-1.5,3.6-0.8
              c1.7,1,3.3,2.1,4.8,3.4c1.6-2.2,2.7-4.7,3.3-7.4C27,73.6,26,68.2,23.2,63.6L23.2,63.6z M38.5,42.6c-5.3,1-9.9,3.9-13,8.4
              c-1.5,2.1-2.5,4.3-3.1,6.7l0.3-0.1c1.2-0.6,2.6-0.3,3.4,0.8c1.2,1.6,2.3,3.2,3.1,5c2.3-1.4,4.3-3.3,5.9-5.6
              C38.2,53.2,39.4,47.8,38.5,42.6L38.5,42.6z M37.3,37.2c1-0.2,2.1-0.3,3.2-0.4c1.3-0.1,2.5,0.7,2.8,2c0.5,1.8,0.8,3.7,1,5.6
              c1.6-0.5,3.2-1.3,4.6-2.2c4.6-2.9,7.7-7.4,8.9-12.6c-5.2-1.1-10.7-0.1-15.2,2.8C40.6,33.6,38.8,35.2,37.3,37.2L37.3,37.2z
               M55.7,152.5c2.9,4.5,7.4,7.6,12.7,8.8c5.2,1.2,10.7,0.2,15.2-2.6c-2.9-4.5-7.4-7.6-12.7-8.8C65.8,148.7,60.2,149.7,55.7,152.5
              L55.7,152.5z M91,158.7c3.2,2,7,3.1,10.8,3.1c1.5,0,3-0.2,4.4-0.5c5.3-1.2,9.8-4.3,12.7-8.8c-4.5-2.8-10-3.8-15.2-2.6
              C98.4,151,93.9,154.2,91,158.7L91,158.7z M87.3,60.2c-6.3,0-11.4,5.1-11.4,11.4c0,6.3,5.1,11.4,11.4,11.4c6.3,0,11.4-5.1,11.4-11.4
              C98.8,65.4,93.6,60.2,87.3,60.2L87.3,60.2z M87.3,88.6c-9.4,0-17-7.6-17-17c0-9.4,7.6-17,17-17c9.4,0,17,7.6,17,17
              C104.3,81,96.7,88.6,87.3,88.6L87.3,88.6z M112.6,128H62.1c-1.5,0-2.8-1.2-2.8-2.8V98.6c0-1.2,0.8-2.2,1.9-2.6l16.4-5.5
              c1.3-0.4,2.7,0.1,3.3,1.3l6.4,11.9l6.4-11.9c0.6-1.2,2-1.7,3.3-1.3l16.4,5.5c1.1,0.4,1.9,1.4,1.9,2.6v26.7
              C115.4,126.8,114.1,128,112.6,128L112.6,128z M64.8,122.5h45v-21.9l-12.3-4.1l-7.7,14.3c-0.5,0.9-1.4,1.4-2.4,1.4
              c-1,0-1.9-0.6-2.4-1.4l-7.7-14.3l-12.3,4.1V122.5L64.8,122.5z"/>
            </svg>
      </span>
      <span class="count">73</span>
      <h3>people</h3>
      <input type="search" placeholder="Search e.g. Developer" id="searchjobs" class="search_field" />
    </div>
  </div>
</div>
