<div class="login">
	<header class="login_register">

	</header>

	<div class="mid_panel">
		<h1>Person Login</h1>
		<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		    <%= f.input :email, required: false, autofocus: true %>
		    <%= f.input :password, required: false %>
		    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
		  	<div class="buttons">
		  		<%= render "people/shared/links" %>
		    	<%= f.button :submit, "Log in", class: 'button big orange' %>
		  	</div>
		<% end %>
		<div class="create_an_account">
			<a href="create_an_account">Create an account</a>
		</div>
	</div>
</div>
