/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: #efefef;
}
body.login {
	background: white;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clear {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

/* ==============================
==== Accent Colours =============
============================== */

$orange: #f7941e;
$grey: #333;


/* ==============================
==== Input ======================
============================== */

input, button {
	outline: none;
}

input[type="text"], input[type="password"], input[type="email"] {
	font-family: "Roboto";
	font-size: 1rem;
	background: #eeeeee;
	color: $grey;
	padding: 15px;
	border-radius: 3px;
	border: 1px solid transparent;
	display: block;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 15px;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
	border: 1px solid $orange;
}

/* ==============================
==== Buttons ====================
============================== */

.button {
	border-radius: 2px;
	display: inline-block;
	font-size: 14px;
	background: transparent;
	font-weight: 600 !important;
	cursor: pointer;

	text-decoration: none !important;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.big {
	padding: 10px 20px;
}

.small {
	padding: 1px 10px 2px;
}

.orange {
	border: 2px solid $orange;
	color: $orange;
}

.orange:hover {
	background: $orange;
	color: white;
}

.green {
	border: 2px solid #19a960;
	color: #19a960;
}

.green:hover {
	background: #19a960;
	color: #fff;
}

.red {
	color: #f46539;
	border: 2px solid #f46539;
}

.red:hover {
	color: #fff;
	background: #f46539;
}


/* ==============================
==== Typography =================
============================== */

h1, h2, h3, h4, h5, h6, p, span, div, a, blockquote {
	font-family: 'Roboto', sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga", "kern";
}

a {
	color: $orange;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

p {
	font-size: 1rem;
	line-height: 1.6rem;
	color: #666666;
	margin-bottom: 1.6rem;
}

h3 {
	color: $orange;
	font-weight: 500;
	font-size: 19px;
	margin: 10px 0;
}


/* ==============================
==== Header =====================
============================== */

.site-header {
	width: 100%;
	height: 72px;
	background: $orange;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 3;
}

.site-header .wrapper {
	max-width: 960px;
	margin: 0 auto;
}

/* Logo */
.logo {
	display: block;
	float: left;
	position: relative;
	top: 19px;
}

.logo #logo {
	width: 224px;
	fill: white;
}

/* Navigation */
.navigation { 
	margin-left: 20px;
	float: left;
}

.navigation ul li, .login li {
	display: inline-block;
	font-size: 1rem;
	height: 72px;
	line-height: 72px;
	margin-left: 10px;
	position: relative;
} 

.site-header .login {
	float: right;
	color: white;
}

.site-header .login a {
	color: white;
}

.site-header .login span {
	line-height: inherit !important;
	color: white;
}

.site-header .login a span.name {
	display: inline-block;
}

.site-header .login a span.img_holder {
	width: 30px;
	height: 30px;
	border-radius: 30px;
	display: inline-block;
	overflow: hidden;
	vertical-align: top;
	position: relative;
	top: 20px;
	margin-left: 10px;
}

.site-header .login a span img {
	width: 100%;
	vertical-align: top;
}

.navigation ul li a {
	color: white;
	text-decoration: none !important;
}

.navigation ul li a span {
	font-size: 10px;
	position: relative;
	top: -10px;
	right: 5px;
}


/* ==============================
==== Sidebar Pages ==============
============================== */

.inner_page {
	margin-top: 72px;
}

.sidebar {
	width: 30%;
	position: fixed;
	height: 100%;
	right: 0px;
	top: 0px;
}

.profiles .sidebar {
	width: 36%;
}

.sidebar .search_panel {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}

.sidebar .search_panel:after {
	content:"";
	display: inline-block;
	vertical-align: middle;
}

.sidebar .search_panel .icon {
	width: 90px;
	fill: #8c8a8b;
}


.sidebar .search_panel .count {
	display: block;
	color: $grey;
	font-size: 50px;
	font-weight: 400;
	margin-top: 15px;
}

.sidebar .search_panel h3 {
	color: $grey;
	font-size: 30px;
	font-weight: 300;
	margin: 10px 0 20px;
}

.sidebar .search_panel .search_field {
	color: $grey;
	font-size: 15px;
	background: #dadada;
	padding: 10px 10px;
	width: 200px;
	border: 1px solid #dadada;
	outline: none;
}

.sidebar .search_panel .search_field:focus {
	border: 1px solid $orange;
	background: white;
}

.sidebar .search_panel .button {
	display: block;
	width: 156px;
	margin: 20px auto 0;
}


/* ==============================
==== Home Page ==================
============================== */

/* Welcome Part */
.welcome_part {
	display: table;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 72px;
	left: 0px;
}

.home section {
	width: 33%;
	background: #eee;
	position: relative;
	display: table-cell;
	background-size: cover;
	background-position: center top;
	vertical-align: middle;
	text-align: center;

	-webkit-transition: width .5s ease-in-out;
	-moz-transition: width .5s ease-in-out;
	transition: width .5s ease-in-out;
}

.home .people {
	background-image: url("../images/people.jpg");
}

.home .jobs {
	background-image: url("../images/people.jpg");
}

.home .places {
	background-image: url("../images/places.jpg");
}

.home .icon_holder .icon {
	fill: white;
	width: 120px;
}

.home .people .icon_holder .icon, .home .jobs .icon_holder .icon {
	width: 100px;
}

.home .elements {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

.home .elements header {
	width: 205px;
	display: block;
}

.home .elements header h2 {
	color: white;
	font-size: 36px;
	font-weight: 600;
	margin: 15px 0;
}

.home .elements header h3 {
	color: white;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.3em;
}

/* Hover Animation */

.home section.shrink {
	width: 30%;
}

.home section.expand {
	width: 40%;
}

/* Explanation Part */
.explanation_part {
	background: white;
	padding: 20px;
	z-index: 2;
	position: relative;
}

.explanation_part h1 {
	font-size: 43px;
	text-align: center;
	line-height: 1.4em;
	padding: 100px 0 50px;
	width: 980px;
	margin: 0 auto;
}

.explanation_part p.tag_line {
	width: 980px;
	margin: 0 auto;
	text-align: center;
}

/* ==============================
==== Jobs Page ==================
============================== */

.left.wall {
	width: 70%;
	background: white;
	min-height: 100%;
	position: absolute;
	left: 0px;
	padding-top: 50px;
}

.jobs_wrapper {
	width: 680px;
	padding-right: 50px;
	padding-bottom: 60px;
	float: right;
}

.job {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #eee;
	position: relative;
}

.job .new {
	background: $orange;
	color: white;
	padding: 3px 0 5px;
	width: 50px;
	border-radius: 2px;
	text-align: center;
	display: block;
	position: absolute;
	left: -80px;
	top: 15px;
}

.position_holder {
	overflow: hidden;
	padding-bottom: 2px;
}

.job .company_logo {
	float: left;
	overflow: hidden;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	margin-right: 15px;
}

.job .company_logo img {
	width: 100%;
}

.job .title {
	float: left;
}

.job .title a {
	color: $grey;
	text-decoration: none !important;
}

.job time {
	float: right;
	font-weight: 300;
	font-size: 14px;
	color: $grey;
	position: relative;
	top: 8px;
}

.job .title .position {
	padding-bottom: 5px;
	color: $grey;
	font-size: 25px;
	font-weight: 500;
	display: block;
}

.job .title .company_name {
	color: $grey;
	font-size: 18px;
	font-weight: 300;
}

/* ==============================
==== Job Inner Page =============
============================== */

.job_page .company_logo {
	display: block;
	overflow: hidden;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	margin-right: 15px;
	margin-bottom: 20px;
}

.job_page .company_logo img {
	width: 100%;
}

.job_page .jobs_wrapper header {
	margin-bottom: 40px;
	overflow: hidden;
}

.job_page .jobs_wrapper header .left {
	float: left;
}

.job_page .jobs_wrapper header a {
	color: $orange;
	padding-top: 10px;
	display: block;
}

.job_page .jobs_wrapper time {
	float: right;
	font-weight: 300;
	font-size: 13px;
	padding-top: 15px;
}

.job_page h1 {
	padding-bottom: 5px;
	color: $grey;
	font-size: 34px;
	font-weight: 500;
	display: block
}

.job_page h2 {
	color: $grey;
	font-size: 22px;
	font-weight: 300;
	margin-bottom: 10px;
}

.job_page .button {
	min-width: 100px;
	margin-top: 20px;
	text-align: center;
}

.job_page .tags {
	margin-top: 40px;
	font-size: 13px;
}

.job_page .twitter-share-button {
	position: relative;
	left: 20px;
	top: 4px;
}

.job_page .edit_delete {
	float: right;
}

.job_page .edit_delete a {
	display: block;
	width: 30px;
}

/* Edit Page */

.edit_job #job_title {
	padding: 0px;
	padding-bottom: 5px;
	color: #333333;
	font-size: 34px;
	font-weight: 500;
	display: block;
	background: none;
	margin-bottom: 0px;
	margin-top: -8px;
}

.edit_job #job_from_company {
	color: #333333;
	font-size: 22px;
	font-weight: 300;
	margin-bottom: 10px;
	background: none;
	padding: 0px;
	margin-top: -11px;
}

.edit_job #job_website {
	color: #f7941e;
	padding-top: 10px;
	display: block;
	background: none;
	padding: 0px;
	margin: 0px;
}

.edit_job #job_description {
	background: none;
	font-size: 1rem;
	line-height: 1.6rem;
	color: #666666;
	margin-bottom: 1.6rem;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 0px;
	margin: 0px;
	height: auto;
}

.edit_job label {
	position: absolute;
	display: none;
}

/* ==============================
==== Profile Pages ==============
============================== */

.left.search_wall {
	position: fixed;
	left: 0px;
	top: 72px;
}

.left.search_wall .profile {
	position: fixed;
	height: 100%;
	background: white;
	width: 40%;
	left: 30%;
	z-index: 1;

	-webkit-transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
   	-moz-transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
    -o-transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
    transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000); /* easeInOutCubic */

	-webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); 
   	-moz-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); 
    -o-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); 
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); /* easeInOutCubic */

	-webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	transform: scale(0.7);

	-webkit-filter: blur(5px);
}

.left.search_wall .profile:nth-child(3) {
	left: 32%;
	z-index: 0;

	-webkit-transform: scale(0.65);
	-moz-transform: scale(0.65);
	transform: scale(0.65);
} 

.left.search_wall .profile .info_top {
	background-position: center center;
	background-size: cover;
	width: 100%;
	overflow: hidden;
	height: 45%;
	position: relative;
}

.places .left.search_wall .profile .info_top {
	background-image: url("../images/default_place.jpg");
}

.left.search_wall .profile .info_top header {
	position: absolute;
	bottom: 0px;
	padding: 0 30px 25px;
	width: 100%;

	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE2JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjA4Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC41Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.08) 16%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(16%,rgba(255,255,255,0.08)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.08) 16%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.08) 16%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.08) 16%,rgba(0,0,0,0.5) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.08) 16%,rgba(0,0,0,0.5) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#80000000',GradientType=0 ); /* IE6-8 */
}

.left.search_wall .profile .info_top header h2 {
	font-size: 2.2rem;
	color: white;
	font-weight: 500;
}

.left.search_wall .profile .info_top header h3 {
	font-size: 1.4rem;
	color: white;
	font-weight: 300;
}

.left.search_wall .profile .info_bottom {
	padding: 30px;
	height: 39%;
	overflow-y: auto;
}

.left.search_wall .profile .info_bottom p {
	color: $grey;
	font-size: 0.9rem;
	line-height: 1.4em;
	margin-bottom: 1.4em;
}

.left.search_wall .profile .info_bottom h3 {
	margin-bottom: 0.5em;
	font-weight: 500;
}

.left.search_wall .profile .info_bottom .get_intouch .button {
	margin-top: 15px;
}

/* Profile Animation */
.left.search_wall .profile.current {
	left: 0px;
	z-index: 2;

	-webkit-box-shadow: 4px 0px 50px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 4px 0px 50px rgba(0, 0, 0, 0.7);
	box-shadow: 4px 0px 50px rgba(0, 0, 0, 0.7);

	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1);

	-webkit-filter: blur(0px);
}

/* ==============================
==== Create New Profile Page ====
============================== */

.create_new.profiles .info_top input {
	background: transparent;
	color: white;
	border: none;
	font-family: "Roboto";
	margin: 0px;
	padding: 0px;
}

.create_new.profiles .info_top input#personname {
	font-size: 2.2rem;
	font-weight: 500;
}

.create_new.profiles .info_top input#personrole {
	font-size: 1.4rem;
	font-weight: 300;
}

.create_new.profiles textarea {
	font-family: "Roboto";
	max-width: 100%;
	min-width: 100%;
	color: #333333;
	font-size: 0.9rem;
	line-height: 1.4em;
	margin-bottom: 1.4em;
	font-size: 0.9rem;
	border: none;
	outline: none;
	border: 1px solid white;
}

.create_new.profiles textarea:focus {
	border: 1px solid #eee;
}

.create_new.profiles .more_info {
	position: fixed;
	left: 40%;
	background: white;
	width: 20%;
	height: 100%;
	padding: 30px;
}

.create_new.profiles .more_info h3 {
	font-size: 26px;
}

/* ==============================
==== Edit Profile Page ==========
============================== */

.left.search_wall .profile .info_top .person_avatar {
	background: rgba(0, 0, 0, 0.6);
	padding: 20px;
	border-radius: 2px;
	text-align: center;
	color: white;
}

.left.search_wall .profile label {
	padding-bottom: 10px;
	padding-top: 10px;
	display: block;
	color: #f7941e;
	font-weight: 500;
	font-size: 19px;
}

.left.search_wall .profile .info_top .person_avatar label {
	display: none;
}

.left.search_wall .profile .info_top #person_name {
	background: none;
	color: white;
	padding: 0px;
	font-size: 2.2rem;
	font-weight: 500;
	margin: 0px;
}

.left.search_wall .profile .info_top .person_name label {
	display: none;
}

.left.search_wall .profile .info_bottom #person_bio {
	border: none;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	color: #333333;
	font-size: 0.9rem;
	line-height: 1.4em;
	margin-bottom: 1.4em;
}

.left.search_wall .profile .info_bottom #person_tag_list {
	background: none;
	padding: 0px;
	color: #f7941e;
	font-size: 1rem;
}

/* ==============================
==== Places Page ================
============================== */

.place_info .icon .svg_icon {
	width: 23px;
	fill: #222;
}

.place_info .text {
	font-size: 13px;
	color: #7d7d7d;
}

.place_info table {
	padding-top: 10px;
	border-collapse: separate;
}

.place_info table td {
	vertical-align: middle;
	padding-right: 20px;
	padding-bottom: 20px;
}

.place_info .address .button {
	margin-left: 20px;
}


/* ==============================
==== Login Page =================
============================== */

.login h1 {
	text-align: center;
	font-size: 30px;
	color: $grey;
	margin-bottom: 30px;
}

header.login_register {
	height: 50%;
	position: absolute;
	width: 100%;
	background: $orange;
}

.mid_panel {
	padding: 40px;
	background: white;
	border-radius: 10px;
	width: 380px;
	top: 50%;
	left: 50%;
	margin-left: -230px;
	transform: translateY(-50%);
	position: absolute;
}


.mid_panel .buttons {
	overflow: hidden;
	margin: 40px 0;
}

.mid_panel .buttons a {
	position: relative;
	top: 10px;
}

.mid_panel .buttons .button {
	float: right;
}

.mid_panel .create_an_account {
	border-top: 1px solid $orange;
	width: 322px;
	padding-top: 40px;
	margin: 0 auto;
	text-align: center;
}

.mid_panel .create_an_account a {
	color: #aaa;
}


/* ==============================
==== Register Company Page ======
============================== */

.register .mid_panel {
	padding: 40px;
	background: white;
	border-radius: 10px;
	width: 780px;
	top: 50%;
	left: 50%;
	margin-left: -430px;
	transform: translateY(-50%);
	position: absolute;
}

.explanation_holder {
	overflow: hidden;
	margin-bottom: 20px;
}

.explanation_holder .terms {
	text-align: right !important;
	color: #bbb;
}


.register .mid_panel .explanation.left {
	width: 325px;
	border-right: 1px solid #eee;
	padding-right: 35px;
}

.register .mid_panel .right.fields {
	width: 382px;
}


/* ==============================
==== Edit Company Page ==========
============================== */

.dashboard {
	background: white;
}

.dashboard h1 {
	text-align: left;
	font-size: 35px;
	color: #757575;
}

.dashboard header.login_register {
	height: 230px;
}

.dashboard .explanation_holder:last-child {
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.dashboard .register .mid_panel .explanation.left {
	border: 0px;
}

.close {
	text-align: center;
	padding: 50px 0 70px;
	border-top: 1px solid #eee;
}

.close h3 {
	color: #f46539;
}

/* ==============================
==== Company Dashboard ==========
============================== */

.dashboard_holder .mid_panel {
	width: auto;
	position: relative;
	left: inherit;
	top: 0px;
	transform: none;
	margin: 0px;
}

.dashboard_holder .centralized {
	max-width: 1000px;
	margin: 0 auto;
	padding-top: 80px;
	position: relative;
}

/* Talents Overview */

.talents {
	overflow: hidden
}

.dashboard h3 {
	padding-bottom: 10px;
	font-size: 25px;
}

.talents .talent {
	float: left;
	width: 150px;
	margin-left: 20px;
}

.talents .talent:first-child {
	margin-left: 0px;
}

.talents .talent span {
	display: block;
}

.talents .talent span.name {
	font-size: 21px;
	font-weight: 400;
	margin-top: 8px;
	margin-bottom: 5px;
	color: #757575;
}

.talents .talent span.role {
	font-size: 16px;
	font-weight: 300;
	color: #757575;
}


/* Job Posted */

.jobs_posted li {
	width: 100%;
	border-bottom: 1px solid #eee;
	height: auto;
	padding: 15px 0;
}

.jobs_posted li span {
	display: block;
	float: left;
	line-height: 40px;
}

.jobs_posted li span.views {
	width: 40px;
	height: 40px;
	border-radius: 40px;
	border: 1px solid #bbb;
	text-align: center;
	margin-right: 15px;
}

.jobs_posted li span.title {
	font-size: 20px;
}

.jobs_posted li span.days_left {
	font-size: 16px;
	font-weight: 300;
	padding-left: 15px;
	position: relative;
	top: 2px;
}

.jobs_posted li div {
	line-height: 40px;
}

.jobs_posted li div a {
	font-size: 15px;
	padding-right: 10px;
	text-decoration: none !important;
	background: white;
	padding: 5px 8px;
	border-radius: 2px;
}

.jobs_posted li div a:hover {
	background: $orange;
	color: white;
}

.jobs_posted li div a:hover .edit_ico {
	fill: white;
}

.jobs_posted li div a .edit_ico {
	width: 20px;
	fill: $orange;
	position: relative;
	top: 2px;
}

.jobs_posted li div button {
	background: none;
	border: none;
	color: #f46539;
	font-size: 15px;
	cursor: pointer;
	position: relative;
	top: 4px;
	background: white;
	padding: 5px 8px;
	border-radius: 2px;
}

.jobs_posted li div button:hover {
	background: #f46539;
	color: white;
}

.jobs_posted li div button:hover .delete_ico {
	fill: #fff;
}

.jobs_posted li div button .delete_ico {
	width: 13px;
	fill: #f46539;
	position: relative;
	float: left;
	padding-right: 4px;
}

.jobs_posted li div button span {
	float: left !important;
	line-height: inherit !important;
}

/* ==============================
==== Notifications ==============
============================== */

.notice, .alert {
	display: none;
}

.hint {
	font-size: 13px;
	padding-bottom: 20px;
	color: #888;
	display: block;
}

/* ==============================
==== Footer =====================
============================== */

.inner footer.site-footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
}

footer.site-footer {
	background: #3d454c;
	text-align: center;
	padding: 40px 0; 
}

footer.site-footer .copy {
	margin-top: 20px;
	margin-bottom: 0px;
	font-size: 13px;
}

footer.site-footer a {
	margin: 0 10px;
}




























